<article class="ind-comment">
	<div><%= comment.body %></div>
	
	<footer class="comment-authorship">
		<small>
			<strong><%= comment.customer.email %></strong>
			<time><%= time_ago_in_words(comment.created_at) %> ago</time>
		</small>
	</footer>
	
	<hr>
</article>