<div class="content group">

  <h1 class="main-header">About</h1>

	<p>This is James Pothen's capstone project for App Academy. It is built in Ruby on Rails, with Javascript and jQuery giving it some shine.</p>
	
	<p>Why?</p>
	
	 Some cool stuff you'll see as you click around:</p>
	<ul>
		<li>Facebook Login for painless registration</li>
		<li>jQuery powered Carousel on the homepage</li>
		<li>Caching for faster page loads</li>
		<li>Fast initial load time thanks to a Heroku Pinger</li>
		<li>Clever day of the week </li>
	</ul>

</div>
