<div class="content group">
  <section class="content-sidebar">
  
		<%= render "sidebar" %>
	
  </section>
  <section class="content-main">
  
    <header class="content-header">
      <h1>Film. Experienced.</h1>
    </header>
  
    <div class="posts" id="carousel">
			<ul>
				<li><a href="#"><%= image_tag "now_you_see_me.jpg" %></a></li>
			</ul>			
    </div>
  
  </section>
</div>
