<div class="content group">
  <section class="content-sidebar">
  
    <div class="profile-picture">
      <a href="#">
				<%= image_tag "logo_example.png" %>
      </a>
    </div>
  
    <div class="profile-info">
      <h2>Indie Theater</h2>
      <p>
        0 Infinite Loop<br>
				Brooklyn, NY 11111<br>
        <strong>Phone</strong> (555) 555-5555
				<ul>
					<li><%= link_to "Add Movie", new_movie_url %></li>
				</ul>
      </p>
    </div>

  </section>
  <section class="content-main">
  
    <header class="content-header">
      <h1>Film. Experienced.</h1>
    </header>
  
    <div class="posts">
			<a href="#"><%= image_tag "now_you_see_me.jpg" %></a>
    </div>
  
  </section>
</div>