<div class="content group">
  <section class="content-sidebar">
  
		<%= render "sidebar" %>
	
  </section>
  <section class="content-main">
  
    <header class="content-header">
      <h1>Film. Experienced.</h1>
    </header>
  
    <div class="posts" id="carousel">
			<ul>
				<li><%= link_to (image_tag "now_you_see_me.jpg"), "/movies/2" %></li>
				<li><%= link_to (image_tag "man-of-steel-henry-cavill5.jpg"), "/movies/3" %></li>
				<li><%= link_to (image_tag "the-internship.jpg"), "/movies/1" %></li>
			</ul>
		  <div id="carousel-nav">
		    <span class="first">&#9675;</span>
		    <span class="second">&#9675;</span>
		    <span class="third">&#9675;</span>
		  </div>		
    </div>	
		
  </section>
</div>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>