<div class="content group">
  <section class="content-sidebar">
  
    <div class="profile-picture">
      <a href="#">
        <%= image_tag "logo_example.png" %>
      </a>
    </div>
  
    <div class="profile-info">
      <h2>Indie Theater</h2>
      <p>
        0 Infinite Loop<br>
				Brooklyn, NY 11111<br>
        <strong>Phone</strong> (555) 555-5555
      </p>
    </div>
  
  </section>
  
	<section class="content-main">
  
    <header class="content-header">
      <h1>This Week</h1>
    </header>
		        	
      <div class="posts">
    	
        <article class="post">
          <header class="group">
    
            <div class="post-info">
							<div class="week">
	              <ul>
									<li><a href="#"><strong>Today</strong></a></li>
									<li><a href="#">Tomorrow</a></li>
									<li><a href="#">Thursday</a></li>
									<li><a href="#">Friday</a></li>
									<li><a href="#">Saturday</a></li>
									<li><a href="#">Sunday</a></li>
									<li><a href="#">Monday</a></li>
								</ul>
							</div>
            </div>
    
          </header>
        </article>
        
				<article class="post">
          <header class="group">
    
            <div class="post-thumb">
              <a href="#"><img src="the_internship_poster.jpg" width="50" height="50" alt=""></a>
            </div>
    
            <div class="post-info">
              <h3><a href="#">The Internship (PG-13)</a></h3>
              <p>
								<strong>Runtime:</strong> 119 mins.<br>
								<strong>Director:</strong> Shawn Levy<br>
								<strong>Genres:</strong> Comedy<br>
								<strong>Starring:</strong> Vince Vaughn, Owen Wilson<br>
							</p>
            </div>
						
					</header>
					
					<div class="showtime-list">
							<ul>
								<li>12:00 PM</li> 
								<li>2:40 PM</li>
								<li>5:20 PM</li>
								<li><a href="#">8:00 PM</a></li>
								<li><a href="#">10:40 PM</a></li>
							</ul>									
					</div>
        </article>
    
        <article class="post">
          <header class="group">
    
            <div class="post-thumb">
              <a href="#"><img src="now_you_see_me_poster.jpg" width="50" height="50" alt=""></a>
            </div>
    
            <div class="post-info">
              <h3><a href="#">Now You See Me (PG-13)</a></h3>
              <p>
								<strong>Runtime:</strong> 116 mins.<br>
								<strong>Director:</strong> Louis Leterrier<br>
								<strong>Genres:</strong> Suspense/Thriller<br>
								<strong>Starring:</strong> Mark Ruffalo, Jesse Eisenberg
							</p>
            </div>

          </header>						
					<div class="showtime-list">
							<ul>
								<li>12:00 PM</li> 
								<li>2:40 PM</li>
								<li>5:20 PM</li>
								<li><a href="#">8:00 PM</a></li>
								<li><a href="#">10:40 PM</a></li>
							</ul>									
					</div>
					
        </article>
    </div>
  
  </section>
</div>